<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!-- Intelligencia.UrlRewriter -->
	<configSections>
		<section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler,Intelligencia.UrlRewriter"/>
	</configSections>
	<connectionStrings>
    <add name="ConnectionString" connectionString="server=WIN-9FSEREGNQIL\SQLEXPRESS;database=Costar;Trusted_Connection=True"/>
    <!--<add key="ConnectionString" value="server=WIN-9FSEREGNQIL\SQLEXPRESS;database=Costar;Trusted_Connection=True"/>-->
  </connectionStrings>
	<!-- 会员 -->
	<location path="signIn">
		<system.web>
			<authorization>
				<allow roles="Manage"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<appSettings>
		<!-- 登录角色 -->
		<add key="LoginRoles" value="Manage"/>

		<!--
			数据字典代码
			value为[SYS_DICCode]表CodeGroup字段值
		-->
		<!--机构类型-->
		<add key="ClientMessage" value="1"/>
		<!--文档类型-->
		<add key="DocsType" value="2"/>
		<!--客户类型-->
		<add key="ClientType" value="3"/>
		<!--客户状态-->
		<add key="ClientStatus" value="4"/>
		<!--客户职务-->
		<add key="ClientPosition" value="5"/>
		<!--客户服务类型-->
		<add key="ClientServiceType" value="6"/>
		<!--平台部门-->
		<add key="AdminDepartment" value="7"/>
		<!--银行部门-->
		<add key="FunderDeparment" value="8"/>
		<!--评估公司部门-->
		<add key="ValFirmDeparment" value="9"/>
		<!--客户部门-->
		<add key="ClientDeparment" value="10"/>
		<!--评估师部门-->
		<add key="ValuerDepartment" value="37"/>
		<!--银行职务-->
		<add key="FunderPosition" value="11"/>
		<!--客户通告类型-->
		<add key="ClientMessageType" value="12"/>
		<!--银行状态-->
		<add key="FunderStatus" value="13"/>
		<!--评估机构状态-->
		<add key="ValFirmStatus" value="14"/>
		<!--评估机构资质等级-->
		<add key="ValFirmLevel" value="15"/>
		<!--任务类型-->
		<add key="JobTyep" value="16"/>
		<!--评估类型-->
		<add key="ValType" value="17"/>
		<!--任务客户类型-->
		<add key="JobClientType" value="18"/>
		<!--评估目的-->
		<add key="ValPurpose" value="19"/>
		<!--贷款类型-->
		<add key="LoanType" value="20"/>
		<!--任务优先权-->
		<add key="Priority" value="21"/>
		<!--任务分配方式-->
		<add key="AllotType" value="22"/>
		<!--建筑结构-->
		<add key="BuildStruc" value="23"/>
		<!--房产用途-->
		<add key="PropertyUse" value="24"/>
		<!--房产类型-->
		<add key="PropertyType" value="25"/>
		<!--土地用途-->
		<add key="LandUse" value="26"/>
		<!--土地使用权类型-->
		<add key="UseRightType" value="27"/>
		<!--评估师状态-->
		<add key="ValFirmValuerStatus" value="28"/>
		<!--评估师资质证书-->
		<add key="ValFirmCertificate" value="29"/>
		<!--评估机构服务类型-->
    <add key="ValFirmService" value="30"/>
    <!--通告信息类型-->
    <add key="MessageType" value="32"/>
    <!--联系人联系日志信息-->
    <add key="LinkManHistoryType" value="90"/>
    <!--预约日志信息-->
    <add key="AppointHistoryType" value="91"/>
    <!--勘察日志信息-->
    <add key="InspectHistoryType" value="92"/>
    <!--延期日志信息-->
    <add key="DelayHistoryType" value="93"/>
    <!--暂停日志信息-->
    <add key="PuseHistoryType" value="94"/>
    <!--延期类型-->
    <add key="DelayType" value="33"/>
    <!--暂停类型-->
    <add key="PuaseType" value="35"/>
    <!--评估师状态-->
    <add key="ValuerStatus" value="69"/>
    <!--确认收款日志信息-->
    <add key="RecriptHistoryType" value="95"/>
    
	</appSettings>
	<rewriter>
		<if url="^/(([^.?]+)[^/?])$">
			<rewrite to="/$1/" processing="continue"/>
		</if>
		<if url="^/(([^.]+)[^/])(\?.*)$">
			<rewrite to="/$1/$3" processing="continue"/>
		</if>
		<!-- Global -->
		<rewrite url="^/([^.]+)/(\d+)/a-(.+)/\?(.*)$" to="/$1.aspx\?id=$2&amp;a=$3&amp;$4" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/a-(.+)/$" to="/$1.aspx\?id=$2&amp;a=$3" processing="stop"/>
		<rewrite url="^/([^.]+)/a-(.+)/\?(.*)$" to="/$1.aspx\?a=$2&amp;$3" processing="stop"/>
		<rewrite url="^/([^.]+)/a-(.+)/$" to="/$1.aspx\?a=$2" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/\?(.*)$" to="/$1.aspx\?id=$2&amp;$3" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/$" to="/$1.aspx\?id=$2" processing="stop"/>
		<!-- default-documents -->
		<if url="^/([^.]+)/$">
			<rewrite exists="/$1/Default.aspx" to="/$1/Default.aspx" processing="stop"/>
		</if>
		<if url="^/([^.]+)/(\?.*)$">
			<rewrite exists="/$1/Default.aspx" to="/$1/Default.aspx$2" processing="stop"/>
		</if>
		<rewrite url="^/([^.]+)/(\?.*)$" to="/$1.aspx$2" processing="stop"/>
		<rewrite url="^/([^.]+)/$" to="/$1.aspx" processing="stop"/>
		<!-- 拒绝ASPX访问 
    <rewrite url="^(.*).aspx$" to="/FileNotFound.htm" processing="stop" />
    <rewrite url="^(.*).aspx(\?.+)$" to="/FileNotFound.htm" processing="stop" />
      -->
	</rewriter>
	<system.web>
		<!-- Intelligencia.UrlRewriter -->
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
		</httpModules>
		<pages validateRequest="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true"/>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="720" name="GXD_AUTH"/>
		</authentication>
		<customErrors mode="RemoteOnly" defaultRedirect="/ErrorPage/">
			<!--
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
      -->
		</customErrors>
	</system.web>
	<!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>