<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!-- Intelligencia.UrlRewriter -->
	<configSections>
		<section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler,Intelligencia.UrlRewriter"/>
	</configSections>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="server=WIN-9FSEREGNQIL\SQLEXPRESS;database=Costar;Trusted_Connection=True"/>-->
		<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Costar;User ID=sa;Password=sa"/>
	</connectionStrings>
	<!-- 会员 -->
	<location path="signIn">
		<system.web>
			<authorization>
				<allow roles="Manage"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<appSettings>
		<!-- 登录角色 -->
		<add key="LoginRoles" value="Manage"/>
	</appSettings>
	<rewriter>
		<if url="^/(([^.?]+)[^/?])$">
			<rewrite to="/$1/" processing="continue"/>
		</if>
		<if url="^/(([^.]+)[^/])(\?.*)$">
			<rewrite to="/$1/$3" processing="continue"/>
		</if>
		<!-- Global -->
		<rewrite url="^/([^.]+)/(\d+)/a-(.+)/\?(.*)$" to="/$1.aspx\?id=$2&amp;a=$3&amp;$4" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/a-(.+)/$" to="/$1.aspx\?id=$2&amp;a=$3" processing="stop"/>
		<rewrite url="^/([^.]+)/a-(.+)/\?(.*)$" to="/$1.aspx\?a=$2&amp;$3" processing="stop"/>
		<rewrite url="^/([^.]+)/a-(.+)/$" to="/$1.aspx\?a=$2" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/\?(.*)$" to="/$1.aspx\?id=$2&amp;$3" processing="stop"/>
		<rewrite url="^/([^.]+)/(\d+)/$" to="/$1.aspx\?id=$2" processing="stop"/>
		<!-- default-documents -->
		<if url="^/([^.]+)/$">
			<rewrite exists="/$1/Default.aspx" to="/$1/Default.aspx" processing="stop"/>
		</if>
		<if url="^/([^.]+)/(\?.*)$">
			<rewrite exists="/$1/Default.aspx" to="/$1/Default.aspx$2" processing="stop"/>
		</if>
		<rewrite url="^/([^.]+)/(\?.*)$" to="/$1.aspx$2" processing="stop"/>
		<rewrite url="^/([^.]+)/$" to="/$1.aspx" processing="stop"/>
		<!-- 拒绝ASPX访问 
    <rewrite url="^(.*).aspx$" to="/FileNotFound.htm" processing="stop" />
    <rewrite url="^(.*).aspx(\?.+)$" to="/FileNotFound.htm" processing="stop" />
      -->
	</rewriter>
	<system.web>
		<!-- Intelligencia.UrlRewriter -->
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
		</httpModules>
		<pages validateRequest="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true"/>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="720" name="GXD_AUTH"/>
		</authentication>
		<customErrors mode="RemoteOnly" defaultRedirect="/ErrorPage/">
			<!--
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
      -->
		</customErrors>
	</system.web>
	<!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>