<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Moudle.Properties.Settings.costarConnectionString"
      connectionString="Data Source=.;Initial Catalog=costar;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>